#sourcesEditor {
   width:762px;
}

#testsEditor {
   width:762px;
}

.CodeMirror {
  text-align: left;
  border: 1px solid #CCCCCC;
  border-top: none;
}

.CodeMirror.basic {
  border-top: 1px solid #CCCCCC;
}

ul#docsTabList {
  font: bold 11px Verdana, Arial, sans-serif;
  list-style-type: none;
  padding-bottom: 24px;
  border-bottom: 1px solid #CCCCCC;
  margin: 0;
}

ul#docsTabList li {
  float: left;
  height: 21px;
  line-height: 21px;
  padding: 0 7px;
  background-color: #E0F3DB;
  margin: 2px 2px 0 2px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
}

ul#docsTabList li.active {
  border-bottom: 1px solid #fff;
  background-color: #FFFFFF;
}

ul#docsTabList li.active a {
  color: #000000;
}

#docsTabList a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
  padding: 4px;
}

#docsTabList a:hover {
  background: #FFFFFF;
}

.tooltip {
   display:none;
}
